---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Education from "../components/Education.astro";
import Experience from "../components/Experience.astro";
import Contact from "../components/Contact.astro";
---

<BaseLayout>
  <Hero />
  <div class="divider my-1"></div>

  <Projects />
  <div class="divider my-1"></div>

  <Experience />
  <div class="divider my-1"></div>

  <Skills />
  <div class="divider my-1"></div>

  <Education />
  <div class="divider my-1"></div>

  <Contact />
</BaseLayout>
