---
// Componente da Seção de Projetos
---

<!-- Container modular focado em expor o portfólio de aplicações web criadas -->
<section
  id="projects"
  class="pb-12 flex flex-col items-center md:items-start text-center md:text-left gap-8 mt-4"
>
  <div
    class="inline-block w-fit px-3 py-1 mb-2 text-xs font-semibold tracking-widest text-base-content/70 uppercase border border-base-content/20 rounded-full"
  >
    Projetos
  </div>
  <p class="text-base-content/80">Em construção...</p>
</section>
