<div
  class="relative z-10 block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div
  class="relative z-10 social-icons px-4 flex flex-col items-center justify-center sticky bottom-0 bg-base-200 gap-3 pb-4 pt-2"
>
  <!-- Redes Sociais -->
  <div class="flex gap-4">
    <a
      href="https://github.com/ribeirorafadev"
      target="_blank"
      class="hover:text-primary transition-colors"
    >
      <i class="fa-brands fa-github text-3xl"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/rafaelribeiroit/"
      target="_blank"
      class="hover:text-primary transition-colors"
    >
      <i class="fa-brands fa-linkedin-in text-3xl"></i>
    </a>
  </div>

  <!-- Rodapé - Direitos autorais -->
  <div class="text-xs text-base-content/60 text-center">
    &copy; {new Date().getFullYear()} - Desenvolvido por Rafael Ribeiro.
  </div>
</div>
